<div class="about-snippet-block text-center">
    <img class="img-fluid" width="150" src="{{ url_for('static', filename='img/luca.png') }}" alt="">
    <div class="mt-3">
        <p class="p-small-one">Eros cum mus conubia faucibus ullamcorper per justo.</p>
        <p class="p-small-one">Diam enim faucibus dictum tempor fringilla ac posuere, erat..</p>
        <p class="p-small-one">Nunc fusce semper lectus phasellus.</p>
        <hr>
        <p class="p-small-one text-muted">Diam enim faucibus dictum tempor fringilla ac posuere, erat..</p>
        <p class="p-small-one text-muted">Nunc fusce semper lectus phasellus.</p>
    </div>
</div>







